.container-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 140px;
    background-image: url("../img/bgimg.jpg");
    background-size: cover;
    z-index: -1;
}
.container-bg:before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(200,200,200);
    opacity: .8;
}