{% extends 'layout.html.twig' %}
{% block background %}<div class="container-bg"></div>{% endblock %}
{% block contenido %}
<div class="col-md-4">
</div>
<div class="col-md-4 formularios align-self-center">
    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form role="form" action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" type="text" name="_username" value="" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" name="_password" required/>
        </div>
        <div class="form-group">
            <p class="help-block">
                Introduce tus datos para comenzar. O <a href="{{ path('register') }}">Regístrate</a>.
            </p>
        </div>
         <input type="hidden" name="_target_path" value="index" />
         <input type="submit" value="Entrar" class="btn btn-default">
    </form>
</div>
<div class="col-md-4">
</div>
{% endblock %}
