<div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" class="btn btn-secondary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" class="btn btn-secondary" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
</div>
<div style="text-align:center;margin-top:20px;">
    <span class="rounded-circle bg-secondary step"></span>
    <span class="rounded-circle bg-secondary step"></span>
    <span class="rounded-circle bg-secondary step"></span>
    <span class="rounded-circle bg-secondary step"></span>
</div>

