<div class="col-md-3 col-sm-1 col-1 text-center social-panel">
    {% set dias = ["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sábado"] %}
    {{ include('Preferences/_eventCards.html.twig') }}
</div>