{% extends 'preferencesLayout.html.twig' %}

{% block preferencesNav %}
	<div class="container">
		<div class="text-center evento-nav p-2">
			<h2>Introduce los datos del nuevo evento:</h2>
		</div>
	</div><br>
{% endblock %}
{% block preferencesFrame %}{% endblock %}