{% extends "@FOSUser/layout.html.twig" %}
{% block background %}<div class="container-bg"></div>{% endblock %}
{% block fos_user_content %}
<a class="btn btn-default" href="{{ path('fos_user_security_login') }}">back</a>
<div class="col-md-4">
</div>
<div class="col-md-4 formularios">
    <form role="form" action="{{ path('register') }}" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input class="form-control" id="email" type="email" name="email" required/>
        </div>
        <div class="form-group">
            <label for="user">Username</label>
            <input class="form-control" id="user" type="user" name="user" required/>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" id="nombre" type="nombre" name="nombre" required/>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input class="form-control" id="apellidos" type="apellidos" name="apellidos" required/>
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input class="form-control" id="phone" type="tel" name="phone" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" name="password" required/>
        </div>
        <div class="form-group">
            <p class="help-block">
                Introduce tus datos para registrarte. <a href="info.html">Más info</a>.
            </p>
        </div>
        <input type="submit" value="Registrarme" class="btn btn-default">
    </form>
</div>
<div class="col-md-4">
</div>
{% endblock %}