{% if control == 'subscribed' %}
    <button class="btn btn-secondary">Mas info</button>
    <button type="submit" class="btn btn-secondary">Quitar</button>
{% endif %}
{% if control == 'created' %}
    <button class="btn btn-secondary">Mas info</button>
    <button type="submit" class="btn btn-secondary">Desactivar</button>
{% endif %}
{% if control == 'social'%}
    <button class="btn btn-secondary">Mas info</button>
    <a href="{{ path('joinEvent', {'id':evento.id}) }}" class="btn btn-secondary">Apuntar</a>
{% endif %}