{% extends 'Home/preferencias.html.twig' %}
{% block preferencesFrame %}
<div class="preferences-content">
    <h3>Opciones de conectividad</h3>
	<p>Aquí veremos las opciones de conexión, ultimas conexiones por ejemplo.</p>
</div>
{% endblock %}