{% extends 'Home/preferencias.html.twig' %}
{% block preferencesFrame %}
<div class="preferences-content">
    <h3>Mis opciones de seguridad</h3>
    <a href="#">Cambiar contraseña.</a><span> La seguridad de tu cuenta aumenta con la complejidad de tu contraseña.</span>

	<p>Aquí puede ir un formulario con bloqueos.</p>
</div>
{% endblock %}