{% extends 'Home/preferencias.html.twig' %}
{% block preferencesFrame %}
<div class="preferences-content">
    <h3>Mis subscripciones</h3>
	<p>Subscripciones hechas, pudiendo quitarlas.</p>
</div>
{% endblock %}