// General
@import 'general/colors';

//Desordenado
@import 'desordenado/estilos';
@import 'desordenado/_before-background';

//Bootstrap
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/scss/bootstrap.scss';
//Bootstrap-datetimepicker
@import "~pc-bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";

// Styles
@import 'static/_frame';
@import 'static/_aside';
@import 'static/_footer';
@import 'static/_menu';
@import 'static/_nav';
@import 'home/home';

//Preferences-Events
@import 'preferences/events/events';