@media (max-width: 990px) {
  .social-panel{
    background-color: rgb(220,220,220);
    position: fixed;
    top:54px;
    left: 0;
    width: 50px !important;
    height: 100vw;
    content: 'tablet';
  }
}
@media (min-width: 990px) {
  .social-panel{
    position: fixed;
    background-color: rgb(220,220,220);
    top:54px;
    left: 0;
    width: 230px !important;
    height: 100vw;
    content: 'pc';
    z-index: 2;
  }
}