@media (max-width: 767px) {
  .social-panel{
    display: none;
  }
}
@media (min-width: 767px) {
  .social-panel{
    background-color: rgb(220,220,220);
    left: 0;
    width: 230px !important;
    min-height: 92vh;
    content: 'pc';
    z-index: 2;
  }
}