{% extends 'layout.html.twig' %}
{% block contenido %}
	<div class="row">
		<div class="searchForEvents">
			<h6>Buscar eventos por palabras clave</h6>
			<form role="form" action="{{ path('search') }}"  method="post" class="md-form mt-0" id="searchForm">
				<input type="text" name="searchBox" id="searchBox">
				<button type="submit">Buscar</button>
			</form>
		</div>
		<div class="searchForUsers">
			<h6>Buscar usuarios por palabras clave</h6>
			<form role="form" action="{{ path('searchUsers') }}"  method="post" class="md-form mt-0" id="searchForm">
				<input type="text" name="searchBox" id="searchBox">
				<button type="submit">Buscar</button>
			</form>
		</div>
	</div>
{% for event in events %}
	<span>{{ event.title }}</span><br>
{% endfor %}


{% endblock %}

