{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/Navbar/responsive.css') }}">
{% endblock %}
{% block content %}
	{{ include('Home/navbar.html.twig') }}
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				{% block socialPanel %}{% endblock %}
				{% block contenido %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('js/Navbar/responsive.js') }}"></script>
{% endblock %}