{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/Navbar/responsive.css') }}">
{% endblock %}
{% block content %}
	{{ include('Home/navbar.html.twig') }}
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				{% block socialPanel %}{{ render(controller('App\\Controller\\EventsController::socialPanel'))}}{% endblock %}
				<div class="col-md-9">
					{% block contenido %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}