{% extends 'base.html.twig' %}
{% block content %}
	{{ include('Home/navbar.html.twig') }}
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				{% block socialPanel %}{% endblock %}
				{% block contenido %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}