{% extends 'layout.html.twig' %}
{% block socialPanel %}{{ render(controller('App\\Controller\\EventsController::socialPanel'))}}{% endblock %}
{% block contenido %}
        {% block preferencesNav %}{% endblock %}
        {% block preferencesFrame %}{% endblock %}
	</div>
{% endblock %}