{% extends 'Home/evento.html.twig' %}
{% block preferencesFrame %}
    {% if filledEvents == true %}
        <div class="container"><p>Ya has creado mas de 3 eventos el mismo dia.</p></div>
    {% endif %}
    {% if filledEvents == false %}
        <div class="container"><p>Evento creado.</p></div>
    {% endif %}
<div class="container">
    <div>
        <form role="form" action="{{ path('events') }}" method="post">
            <div class="row">

                <div class="form-group col-3">
                    <span for="municipio" class="h4">Municipio: </span>
                    <input class="form-control" name="municipio" id="municipio" required></input>
                </div>
            </div>
            <div class="form-group">
                <span for="fecha" class="h4">Fecha: </span>
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" name="fecha"/>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar fa-2x"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <span for="descripcion">Descripcion: </span>
                <textarea class="form-control" id="descripcion" maxlength="100" name="descripcion" required>Descripcion</textarea>
                <span>Max 100 carácteres.</span>
            </div>
            <input type="submit" class="btn" name="submit" value="Crear evento">
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
	<script>
        window.onload = function(){
            //document.getElementById('provincia_select').addEventListener('change', provincia_change);
            //document.getElementById('comunidad_select').addEventListener('change', comunidad_change);
            //comunidad_change();
            $(function () {
                $('#datetimepicker').datetimepicker({format: 'L'});
            });
        }
        /*
         ·Llaman con ajax a un php y pasan por parametros la comunidad.
         ·Reciben un json con las provincias.
         */
        /*function comunidad_change(){
            var comunidad = document.getElementById('comunidad_select').value;
            $.ajax({
                method: "POST",
                data: comunidad,
                url: "{{ path('ajax_provincias') }}",
                dataType: 'json',
                success: function(data){
                    var provincias = JSON.parse(data.provincias);
                    putProvincias(provincias);
                }
            });
        }
        function provincia_change(){
            var provincia = document.getElementById('provincia_select').value;
            $.ajax({
                method: "POST",
                data: provincia,
                url: "{{ path('ajax_municipios') }}",
                dataType: 'json',
                success: function(data){
                    var municipios = JSON.parse(data.municipios);
                    putMunicipios(municipios);
                }
            });
        }
        /*
         ·Insertan las provincias en el siguiente select
         */
        /*function putProvincias(provincias){
            $('#provincia_select').find('option').remove();
            $.each(provincias, function (i, item) {
                $('#provincia_select').append($('<option>', {
                    value: item.id,
                    text : item.provincia
                }));
            });
            provincia_change();

        }
        function putMunicipios(municipios){
            $('#municipio_select').find('option').remove();
            $.each(municipios, function (i, item) {
                $('#municipio_select').append($('<option>', {
                    value: item.id,
                    text : item.municipio
                }));
            });
        }*/

	</script>
{% endblock %}