{% extends 'Home/evento.html.twig' %}
{% block preferencesFrame %}
<div class="evento-content">
    <h3>Segundo paso:</h3>
    <h4>Inserta </h4>
	<form role="form" action="{{ path('secondStep') }}" method="post">
		<span>Descripcion: </span><textarea></textarea>
		<span>Max 100 carácteres.</span>
		<span>Tipo: </span>
		<select>
			<option>Arte</option>
			<option>Ocio</option>
			<option>Gastronomía</option>
			<option>Tecnología</option>
			<option>Deporte</option>
			<option>Política</option>
			<option>Economía</option>
		</select>
		<select>
			<option>Depende</option>
			<option>de</option>
			<option>la</option>
			<option>opcion</option>
			<option>anterior</option>
		</select>
        <input type="submit" class="btn" name="submit" value="Crear evento">
	</form>
</div>
{% endblock %}